# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# cmake
CMakeCache.txt
CMakeFiles/
Makefile
bin/
cmake_install.cmake
src/CMakeFiles/
src/Makefile
src/cmake_install.cmake
